
.Bookmark {
    --bookmark-height: 88px;
    background-color: #634F8F;
    color: #cacaca;
    height: var(--bookmark-height);
    margin-bottom: 8px;
    max-width: 42%;
    padding: 8px 0 8px 8px;
    position: relative;
  }
  
  .Bookmark__delete {
    --bookmark-button-height: 32px;
    background-color: #2D276E;
    border: 0;
    color: white;
    float: right;
    font-size: 12px;
    height: var(--bookmark-button-height);
    position: absolute;
    top: -2rem;
    right: 0rem;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    width: calc(var(--bookmark-height));
  }
  .Bookmark__delete:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Bookmark__title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 90%;
    min-height: 24px;
  }
  .Bookmark__title a {
    color: white;
    display: block;
    text-decoration: none;
  }
  .Bookmark__title a:hover {
    color: #FFB72F;
  }
  