
.BookmarkListNav__list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
  }
  
  .BookmarkListNav__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
  }
  
  .BookmarkListNav__add-folder-button {
    margin: 20px auto;
    color: white;
  }
  .BookmarkListNav__add-folder-button:hover {
    background-color: white;
    color:black;
  }
  
  .BookmarkListNav__folder-link {
    background-color: #634F8F;
    color: white;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
  }
  .BookmarkListNav__folder-link:hover {
    color: #FFB72F;
    cursor: pointer;
  }
  .BookmarkListNav__folder-link.active {
    background-color: #888DC5;
  }
  
  .BookmarkListNav__num-bookmarks {
    color: white;
    display: block;
    float: right;
    font-size: 10px;
  }